
.dashboard-container {
    display:flex;
    flex-grow: 1;
    flex-direction: column;
    /* width: 85%; */
    background-color: #efefef;
}


.dashboard-container .dashboard-item {
    background-color: #aaa;
    min-width: 200px;
    min-height: 125px;
    background-color: #fff;
    padding: 12px;
    margin: 8px;
    border-radius: 5px;
    align-items: center;
}